<div class="picture_view">

  <!-- "only show the `latest` band logo" --!>
  <p>
    <%= if not @band.band_logos.last.blank?
      image_tag @band.band_logos.last, style: 'height:100%; width:100%;'
    end %>
  </p>

  <!-- "only show the `latest` band picture" --!>
  <p>
    <%= if not @band.band_pictures.last.blank?
      image_tag @band.band_pictures.last, style: 'height:100%; width:100%;'
    end %>
  </p>

</div>
