// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
}

html {
  //grey for the moment to see all the containers clearly
  background-color: grey;
}

.base {
  text-align: center;
  background-color: black;
  color: white;
  position: absolute;
  top: 2.5%;
  left: 20%;
  width: 60%;
}

.base h1 {
  font-size: 7em;
}

.base p {
  font-size: 2em;
}

.menu {
  padding-top:20px;
  padding-left:2%;
  width: 17%;
  position: absolute;
  top: 2.5%;
  left: 1.5%;
  line-height: 2em;
  background-color: black;
}

.menu_item {
  list-style-type: none;
  padding: 15px;
  margin: 0;
}

.menu_item a {
  font-size: 2em;
  color: white;
}
