// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.base {
  text-align: center;

  h1 {
    font-size: 88px;
  }
  
  p {
    font-size: 26px;
  }
}
