<%= render 'main/menu' %>

<div class="base">

  <table class="table table-striped table-bordered table-hover table-dark">
    <thead class="thead-dark">
      <tr>
        <th> Artist </th>
        <th> Real name </th>
      </tr>
    <thead>

    <% @artists.each do |artist| %>
      <tbody>
        <tr>
          <th cope="row"> <%= link_to artist.alias, artist_path(artist) %> </th>
          <td> <%= artist.real_name %> </td>
        </tr>
      </tbody>
    <% end %>

  </table>
